html, body {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #C62D29; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.main-background {
    height: 100%;
    width: 100%;
    background-image: url("https://secure.i.telegraph.co.uk/multimedia/archive/02932/c_2932863b.jpg");
    background-size: cover;
    filter: blur(2px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(198, 45, 41, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    color: white;
    font-family: 'Oswald', sans-serif;
    border-radius: 50%;
    border: 2px solid white;
}

.input-fields {
    display: flex;
    justify-content: space-around;
    padding: 0 0 4% 0;
}

h3 {
    font-size: 36px;
    text-align: center;
    line-height: 1;
    margin: 0;
    padding: 0 0 4% 0;
}

strong {
    font-size: 48px;
}

input, button {
    text-align: center;
    background-color: rgba(255,255,255,0.25);
    color: white;
    height: 40px;
    margin: 0 5px 0 5px;
    font-size: 16px;
    border: 2px solid rgba(255,255,255,0);
    border-radius: 10px;
}

::placeholder {
    color: white;
}

input:focus {
    border: 2px solid white;
    outline: 0;
}

#verify-button {
    width: 30%;
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.15s ease-in-out;
}

#verify-button:hover {
    background-color: rgba(200, 200, 200, 1);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

#underage-link {
    color: black;
    font-size: 20px;
}

#duff-logo {
    position: absolute;
}